.li{
margin-left: 40%;
}
img{
    margin-left:40%;
    width: 10%;
    height: 10%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}